<a href="https://colab.research.google.com/github/girdharagrawalbro/Starting-Python/blob/main/PythonLab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Printing my name that is girdhar agrawal
print("Girdhar Agrawal")

Girdhar Agrawal

In [ ]:
# Printing the data types of variables
x = 5
name ="Girdhar Agrawal"
msg = "My name is:"
names = ["girdhar", "naman", "umesh"]
a = 10.11
b = 'a'
c = 10.11111111
print(type(x))  #int
print(type(name)) #str
print(type(a))  #float
print(type(c))  #float
print(type(names))  #list
print(msg, name)  #My name is: Girdhar Agrawal

<class 'int'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'list'>
My name is: Girdhar Agrawal

In [48]:
#taking input
msg  = input("Enter your Message: ")
name = input("Enter your Name: ")
print(msg,name)

Enter your Message: My name is
Enter your Name: girdhar
My name is girdhar

In [ ]:
a = 1
msg ="My name is:"
names = ["girdhar", "naman", "umesh"]
for name in names :
  print(msg,name)

<class 'list'>
My name is: girdhar
My name is: naman
My name is: umesh

In [ ]:
name = "girdhar"
if name == "girdhar":
  print("correct")

correct

In [ ]:
import numpy as np

random_numbers = np.random.rand(10)
print(random_numbers)

[0.932485   0.44140677 0.1818131  0.58699331 0.05955852 0.95740473
 0.16594121 0.24640214 0.27743228 0.4291815 ]

In [ ]:
def welcome(name):
    return f"Hello, {name}!"

message = welcome("Girdhar")
print(message)

Hello, Girdhar!

In [ ]:
import pandas as pd

# Create a DataFrame with 2 columns and 10 rows
data = {'col1': range(10), 'col2': [x * 2 for x in range(10)]}
df = pd.DataFrame(data)
print(df)

   col1  col2
0     0     0
1     1     2
2     2     4
3     3     6
4     4     8
5     5    10
6     6    12
7     7    14
8     8    16
9     9    18

In [49]:
#input two numbers and display the larger and smaller number
a = input("Enter first number: ")
b = input("Enter second number: ")
if a > b:
  print("Larger number is: ",a)
  print("Smaller number is: ",b)
else:
  print("Larger number is: ",b)
  print("Smaller number is: ",a)

Enter first number: 34
Enter second number: 21
Larger number is:  34
Smaller number is:  21

In [ ]:
#type casting
a = 7
print(type(a))
b = 3.0
print(type(b))
c = a+b
print(c)
print (type(c))

d = a*b
print(d)
print(type(d))

<class 'int'>
<class 'float'>
10.0
<class 'float'>
21.0
<class 'float'>

In [60]:
# Slicing
b = "Girdhar Agrawal"
print(b[0:8])
print(b[8:])
print(b[:8])
print(b[2:8])

Girdhar
Agrawal
Girdhar
rdhar